BTC
collect and distribute BTC
22 + <h2 id="DATDASDOS/canaduaneDATDASDOShttps://github.com/DATDASDOS<!-- fork -->">collect and distribute BTC</h2> 
$TESTING=true $:.push File.join(File.dirname(FILE), '..', 'lib')

_before.rb  bundler 1.6 support 14 days ago
assets.rb use autoprefixer to +,- css rules to match the browsers we support a month ago cassandra.rb support cassandra 1.2+ consistency level usage a month ago development.rb upgrade debugger gem to work with 1.9.3p545 a month ago development_and_test.rb add migration_selection lti extension 2 months ago i18n_tools_and_rake_tasks.rb refactor and make gem rake task inclusion explicit 2 months ago icu.rb partition Gemfile 3 months ago mysql.rb partition Gemfile 3 months ago other_stuff.rb bump switchman 12 days ago postgres.rb partition Gemfile 3 months ago redis.rb partition Gemfile 3 months ago sqlite.rb partition Gemfile 3 months ago test.rb re-add indentation semantics to Gemfile 3 months ago ~after.rb partition Gemfile
rade
The following is a list of online and real world businesses that currently accept Bitcoin. 
If you are looking for only real world commerce, see here

New service providers are very much appreciated as they help establish the currency! Please only list services that are presently available (that is, NOT "available soon") and accepting bitcoins.

Note: it still remains up to you to decide whether you trust the service provider or not.

Products or services illegal in US or Japan are not fit to be listed here - such links will be removed immediately. Any attempt to get those links up again will result in the account being blocked. This includes pornography and many mind-altering drugs. Read this to learn where you can submit your site without censorship or removal (directory URLs are near the bottom of the above link's page).
rade
The following is a list of online and real world businesses that currently accept Bitcoin. 
If you are looking for only real world commerce, see here

New service providers are very much appreciated as they help establish the currency! Please only list services that are presently available (that is, NOT "available soon") and accepting bitcoins.

Note: it still remains up to you to decide whether you trust the service provider or not.

Products or services illegal in US or Japan are not fit to be listed here - such links will be removed immediately. Any attempt to get those links up again will result in the account being blocked. This includes pornography and many mind-altering drugs. Read this to learn where you can submit your site without censorship or removal (directory URLs are near the bottom of the above link's page).
rade
The following is a list of online and real world businesses that currently accept Bitcoin. 
If you are looking for only real world commerce, see here

New service providers are very much appreciated as they help establish the currency! Please only list services that are presently available (that is, NOT "available soon") and accepting bitcoins.

Note: it still remains up to you to decide whether you trust the service provider or not.

Products or services illegal in US or Japan are not fit to be listed here - such links will be removed immediately. Any attempt to get those links up again will result in the account being blocked. This includes pornography and many mind-altering drugs. Read this to learn where you can submit your site without censorship or removal (directory URLs are near the bottom of the above link's page).
