BTC
collect and distribute BTC

$TESTING=true $:.push File.join(File.dirname(FILE), '..', 'lib')

_before.rb  bundler 1.6 support 14 days ago
assets.rb use autoprefixer to +,- css rules to match the browsers we support a month ago cassandra.rb support cassandra 1.2+ consistency level usage a month ago development.rb upgrade debugger gem to work with 1.9.3p545 a month ago development_and_test.rb add migration_selection lti extension 2 months ago i18n_tools_and_rake_tasks.rb refactor and make gem rake task inclusion explicit 2 months ago icu.rb partition Gemfile 3 months ago mysql.rb partition Gemfile 3 months ago other_stuff.rb bump switchman 12 days ago postgres.rb partition Gemfile 3 months ago redis.rb partition Gemfile 3 months ago sqlite.rb partition Gemfile 3 months ago test.rb re-add indentation semantics to Gemfile 3 months ago ~after.rb partition Gemfile
